<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>wordeater</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div style="border: 2px dashed orange;">
            <h3 style="text-align: center;">
                {{message}}
            </h3>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1>wordeater</h1>
        <form action="/word" method="post">
            <label>Enter your word here:
            <input type="text" name="word">
            </label>
            <br>
            <button type="submit">Send it!</button>
    </body>
</html>
